.board-contianer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.board {
    width: 20rem;
    height: 30rem;
    background-color: antiquewhite;
    display: inline-block;
}
.board-title {
    width: 100%;
    height: 10%;
    background-color: beige;
    text-align: center;
    display: table;
}
.board-title-span {
    vertical-align: middle;
    display: table-cell;
}