.board-contianer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

/* | task boards | */
.board {
    width: 20rem;
    height: 30rem;
    background-color: antiquewhite;
    margin: 0 0.5rem;
    display: inline-block;
}
.board-title {
    width: 100%;
    height: 10%;
    background-color: beige;
    text-align: center;
    flex-shrink: 1;
    display: table;
}
.board-title-content {
    vertical-align: middle;
    display: table-cell;
}

/* | task cards | */
.board-body-task {
    width: 100%;
    height: 3rem;
    border: solid 0.1rem;
    box-sizing: border-box;
    position: relative;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* task cards: task content */
.board-body-task-content {
    width: 100%;
    height: auto;
    padding: 0.5rem 0;
    box-sizing: border-box;
    display: inline-block;
}
.board-body-task-content:focus {
    outline: none;
}

/* task cards: arrow to left/right */
.board-body-task-to-left, .board-body-task-to-right {
    padding: 0.5rem;
}
.board-body-task-to-left:hover, .board-body-task-to-right:hover {
    cursor: pointer;
}

/* | add-task button | */
.board-body-task-add-btn {
    width: 100%;
    height: 4rem;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
